.title-box {
    margin: 10px;
    text-align: center;
}

.title-box h1 {
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.title-btn {
    margin: 10px;
    text-align: center;
}

#dem-btn {
    width: 120px;
    height: 50px;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 1);
}

#dem-btn:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

.rebus-box {
    margin: 60px;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.answer-box {
    margin: 0px 100px 20px 100px;
    text-align: center;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

input {
    width: 400px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
}

.submit-box {
    margin: 0 100px 0px 100px;
    text-align: center;
}

#submit-btn {
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

#submit-btn:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

.feed-box {
    margin: 0px 100px 0px 100px;
    text-align: center
}

.movie-title {
    width: 700px;
    margin-top: 5px;
    margin-bottom: 40px;
}

#movie-specific {
    font-family: 'Cinzel', serif;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    text-align: center;
    margin: 2rem 0;
    text-align: center;
    margin: 0;
}

.reveal-answer {
    margin-top: 150px;
}

#reveal-btn {
    width: 100px;
    height: 30px;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

#reveal-btn:hover {
    cursor: pointer;
}

.switch-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: auto; /* pushes it to the bottom of the flex column */
}

.modal {
    border: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.anecd-div {
    width: 600px;
    background-color: #f9f9f9;
    border-left: 4px solid #012f54;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    font-style: italic;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .anecd-div {
        width: 400px;
}
}